wandb/
ablation_results/
logs/
eval_logs/
MDD_val_test/
GC-GAN-main/
GAN/
GraphAE/
FC/
__pycache__/
*.pyc
ppo_final/eval_logs/
figs/
ppo_final/logs/
classifier_aug_models/
classifier_baseline_models/
ppo_final/logs/
MDD_Harvard_site20-20250107T050634Z-001/
MS_MDD_Harvard_FC_fisher-20250107T100946Z-001/


.venv/
env/
.conda/

# Jupyter checkpoints
.ipynb_checkpoints/


*.npz
*.pth
*.pt
*.h5
*.json
*.log
*.png

# files
ablation_study.py
check_compatibility.py
check_gpu_compatibility.py
info.py
make_val_test.py
mlp_aug_classifier.py
train_cycle.py
vis.py
